.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .featureContainer {
    background-color: #fffdf8;
    padding: 40px 0;
  }
  
  @media (max-width: 991px) {
    .featureContainer {
      padding: 20px;
    }
  }